.a {
    
    background-color: rgb(76, 76, 247);

}
.b {
    
    background-color: rgb(199, 117, 10);

}
.c {
    
    background-color: rgb(226, 208, 43);

}
.d {
    
    background-color: rgb(6, 6, 180);

}
.e {
    
    background-color: rgb(128, 31, 68);

}
.f {
    
    background-color: rgb(56, 13, 13);

}
.g{
    
    background-color: rgb(7, 7, 70);

}
.h {
    
    background-color: rgb(31, 174, 199);

}
.i {
    
    background-color: rgb(199, 31, 143);

}